body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  border: 2px solid black;

}

.text-left { 
  font-weight: bold;
  margin-left: 25px

}
.text-center{
  font-weight: bold;
}

h3 {
  color:black;
  text-align: center;
}

.box {
  background-color: gray;
}

.row {
  width: 100%;
}

#nav-list {
  margin-top: 1px;
  margin-bottom: 1px;
}

#nav-list a {
  color: black;
  text-align: center;
 /* border:0.5px solid black;*/
}

 /********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}
  /* Header */


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
 p{
  height:700px;
 }
}

