body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  border: 2px solid black;
}

nav h1 { 
  font-family: "comic sans ms";
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 15px 20px 10px;
}

/*#main-content h1 {
  color:black;
  text-align: center;
}*/

h3 {
  color:black;
  text-align: center;
}

.box {
  background-color: gray;
}

.row {
  width: 100%;
}

#nav-list {
  margin-top: 1px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

 /********** Large devices only **********/
@media (min-width: 1200px) {
  .container h1 {
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}
  /* Header */


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
 p{
  height:700px;
 }
}

